
obj/
bin/
*.csproj.user
*ReSharper.user
_ReSharper*
*resharper*
*.suo
*.cache
* Thumbs.db

RhinoSecurityMgmt/src/Rhino.Security.Mgmt/Logs/Log.txt
RhinoSecurityMgmt/src/Rhino.Security.Mgmt/Rhino.Security.Mgmt.Publish.xml